@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic,500,500italic);
body {
  background:#484848;
}
*{
    padding:0;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

.education-entry, .work-entry, .project-entry {
  margin:0 0 10px 0;
}

h1 {

  font-size: 40px;
  color: #F5A623;
  line-height: 48px;
  display: inline;
}

h2 {
  font-style: bold;
  font-size: 24px;
  color: #999999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
}

h4 {
  font-style: bold;
  font-size: 14px;
  color: #4A4A4A;
  line-height: 17px;
}

h2, h3, h4, h5 {
  padding:20px 0;
  margin:0;
}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999999;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  color: #333333;
  line-height: 21px;
  margin:.5em 0;
  clear:both;
}

a {
  color: #1199C3;
  text-decoration: none;
}

.inside {
  max-width:940px;
  margin:0 auto;
  padding:20px 5%;
}
#header .inside {
  padding:5%;
}
#letsConnect .inside {
  padding:0 5%;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #F3F3F3;
  line-height: 28px;
}

#skillsH3 {
  color: #F5AE23;
  display: none;
  padding:10px 0 0 0;
}

#skills {
  display: none;
}

.orange {
  background-color: #F5AE23;
  color:#fff;
}

.orange-text {
  color: #F5AE23;
}

.white-text {
  font-weight: bold;
  color: #FFFFFF;
}

.gray {
  background-color: #F3F3F3;
  padding-bottom: 10px;
  clear:both;
}
.white {
  background-color: #fff;
}

.dark-gray {
  background-color: #4A4A4A;
}

/* TODO: Replace with image later */
#header {
  color:#ccc;
  background-color: #484848;
}
#header .inside:after,
.work-entry:after,
#header:after {
  clear:both;
  content:'.';
  display:block;
  height:0;
  overflow:hidden;
  visibility:hidden;
}
#header a,
#footerContacts a {
  color:#fff;
}
#topContacts {
  margin-bottom:20px;
}

.employee-title,
.clear {
  display:block;
  clear:both;
}
.project-entry img {
  clear:both;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  padding: 10px;
}

ul {
  list-style-type: none;
}


.biopic {
  display: none;
  float: left;
  padding: 0 10px 10px 0;
  width: 200px;
}

img {
  padding: 0 10px 10px 0;
}


/* Bar chart stuff */
.chart div {
  font: 10px sans-serif;
  background-color: #4A4A4A;
  text-align: right;
  padding: 3px;
  margin: 1px;
  height: 12px;
  color: white;
  display: inline-block;
}

span {
  padding: 5px;
}

#letsConnect {
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  /**/
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .role {
    display:block;
  }
}

#map {
  display: block;
  height: 400px;
}

@media only screen and (min-width: 750px) {
  #skillsH3,
  #skills,
  .biopic {
    display: block;
  }
}
